<h1>Rich's Twitter</h1>
<p>
	This is the home page for the 
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application, from now on known as Rich's Twitter app.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>